
body{
	border: solid black 1px;
	margin: 0em 0em 0em 0em;
	padding: 0.5em;
	}

.headerBox{
	background-color: #CEDFF2;
	border: solid 1px;
	margin-bottom: 1em;
	font-weight: bold;
	padding: 0.2em;
	}
.textBox{
	background-color: #FAFAFA;
	border: solid black 1px;
	padding: 0.5em;
	}
.noteBox{
	border: solid black 1px;
	background-color: #F8E5A4;
	margin: 1em 2em 1em 0em;
	padding: 0.2em;
	}